/* ===========================
   SAVEBITE AI AUTH PAGES
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

.auth-container{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

    background:
    radial-gradient(circle at top left,#1f2937 0%,transparent 35%),
    radial-gradient(circle at bottom right,#14532d 0%,transparent 30%),
    linear-gradient(135deg,#07111d,#0f172a);

}

.auth-card{

    width:430px;

    padding:45px;

    border-radius:24px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    box-shadow:
    0 20px 60px rgba(0,0,0,.45);

}

.auth-logo{

    width:90px;

    display:block;

    margin:auto;

    margin-bottom:20px;

    filter:drop-shadow(0 0 20px rgba(74,222,128,.45));

}

.auth-card h1{

    color:white;

    text-align:center;

    margin-bottom:10px;

    font-size:34px;

}

.auth-subtitle{

    color:#94A3B8;

    text-align:center;

    margin-bottom:35px;

    font-size:15px;

}

.auth-input{

    width:100%;

    padding:16px;

    margin-bottom:18px;

    border-radius:14px;

    border:1px solid rgba(255,255,255,.08);

    background:#111827;

    color:white;

    font-size:16px;

    outline:none;

    transition:.3s;

}

.auth-input::placeholder{

    color:#94A3B8;

}

.auth-input:focus{

    border-color:#4ADE80;

    box-shadow:0 0 15px rgba(74,222,128,.25);

}

.auth-btn{

    width:100%;

    padding:16px;

    margin-top:10px;

    border:none;

    border-radius:14px;

    background:#4ADE80;

    color:#08131f;

    font-size:18px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}

.auth-btn:hover{

    background:#22C55E;

    transform:translateY(-3px);

    box-shadow:0 15px 30px rgba(74,222,128,.25);

}

.auth-footer{

    text-align:center;

    color:#CBD5E1;

    margin-top:22px;

}

.auth-footer a{

    color:#4ADE80;

    text-decoration:none;

    font-weight:600;

}

@media(max-width:600px){

.auth-card{

width:100%;

padding:35px 25px;

}

}