/* ===========================
   SAVEBITE AI NAVBAR
=========================== */

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 8%;

    background: rgba(10, 15, 31, 0.82);
    backdrop-filter: blur(20px);

    border-bottom: 1px solid rgba(255,255,255,.08);

    transition: .3s;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo-img{
    width:52px;
    height:52px;
    object-fit:contain;

    filter: drop-shadow(0 0 15px rgba(74,222,128,.35));
}

.logo h2{

    color:white;

    font-size:28px;

    font-weight:700;

    letter-spacing:.5px;
}

.nav-links{

    display:flex;

    align-items:center;

    gap:35px;

}

.nav-links a{

    color:#CBD5E1;

    text-decoration:none;

    font-size:17px;

    font-weight:500;

    transition:.3s;

    position:relative;

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:#4ADE80;

    transition:.3s;

}

.nav-links a:hover{

    color:#4ADE80;

}

.nav-links a:hover::after{

    width:100%;

}

@media(max-width:900px){

.navbar{

flex-direction:column;

gap:20px;

}

.nav-links{

flex-wrap:wrap;

justify-content:center;

gap:18px;

}

.logo h2{

font-size:22px;

}

}